body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 540px;
  background: #fff;
  font-family: -apple-system, Helvetica, sans-serif;
  line-height: 1.5;
  color: #666;
  font-size: 14px;
  -webkit-text-size-adjust: 100% !important;
  padding-bottom: env(safe-area-inset-bottom);
  background: rgb(233, 233, 233);
  height: 2000px;
}
/* 顶部 */
.app {
  width: 100%;
  height: 45px;
}
.app ul li {
  float: left;
  height: 45px;
  background: #333;
  text-align: center;
  line-height: 45px;
  color: #fff;
}
.app ul li:nth-child(1) {
  width: 8%;
}
.app ul li:nth-child(1) img {
  width: 10px;
}
.app ul li:nth-child(2) {
  width: 10%;
}
.app ul li:nth-child(2) img {
  width: 35px;
  vertical-align: middle;
}
.app ul li:nth-child(3) {
  width: 57%;
}
.app ul li:nth-child(4) {
  width: 25%;
  background: tomato;
}
/* 搜索 */
.searchWrap {
  width: 100%;
  height: 44px;
  position: fixed;
  max-width: 540px;
  min-width: 320px;
  overflow: hidden;
}
.searchBtn {
  width: 40px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 0;
}
.searchBtn img {
  width: 40px;
  vertical-align: middle;
}
.searchLogin {
  width: 40px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
.search {
  height: 30px;
  background: #fff;
  margin: 0 50px;
  border-radius: 15px;
  margin-top: 6px;
  position: relative;
}
.jd-icon {
  width: 22px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 7px;
  background: url(../../images/icons/JDlogo.png) no-repeat;
  background-size: 22px 15px;
}
.jd-icon::after {
  content: "";
  display: block;
  width: 1px;
  height: 17px;
  background: #999;
  position: absolute;
  top: 0px;
  right: -9px;
}
.sou {
  width: 18px;
  height: 17px;
  position: absolute;
  top: 8px;
  left: 50px;
  background: url(../../images/icons/jd-sprites.png) no-repeat -80px 0px;
  background-size: 200px auto;
}
/* 主体内容部分 */
.slider img {
  width: 100%;
}
.brand {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.brand a img {
  float: left;
  width: 33.33%;
}
/* 导航栏 */
nav {
  padding-top: 10px;
}
nav a {
  width: 20%;
  float: left;
  text-align: center;
}
nav a img {
  width: 40px;
  margin: 5px 0 3px 0;
}
nav a span {
  display: block;
  color: #333;
}
/* 商品区域 */
.productArea {
  width: 100%;
  height: 120px;
  background: #fff;
  float: left;
  margin-top: 20px;
  position: relative;
}
.top {
  position: absolute;
  top: 0;
  left: 115px;
  font-weight: bold;
  padding-top: 5px;
}
.top span {
  margin-left: 10px;
}
.button {
  position: absolute;
  bottom: 0;
  left: 0px;
}
.productArea a {
  width: 25%;
  float: left;
  text-align: center;
  padding-top: 25px;
}
.productArea a img {
  width: 70px;
}
